---
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';
import Base from '../../layouts/Base.astro';

const posts = (await getCollection('blog')).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<Base>
  <section class="prose prose-invert">
    <div class="my-10 flex flex-col gap-10">
      {
        posts.map((post) => (
          <a
            href={`/posts/${post.id.replace(/\.mdx?$/, '')}`}
            class="flex flex-col justify-between no-underline transition-opacity duration-300 hover:opacity-75"
          >
            <h1
              class="mb-2 text-3xl transition-colors"
              transition:name={`title-${post.data.title}`}
            >
              {post.data.title}
            </h1>
            <div class="flex-shrink-0 text-sm text-gray-400">
              <FormattedDate
                date={post.data.pubDate}
                name={`date-${post.data.title}`}
              />
            </div>
          </a>
        ))
      }
    </div>
  </section>
</Base>
