.prose code:not(pre code) {
  padding: 0.25em 0.4em;
  background-color: #24292e;
  border-radius: 0.3rem;
  font-weight: 400;
}

.prose code:not(pre code):before {
  content: "";
}

.prose code:not(pre code):after {
  content: "";
}

img {
  border: 1px solid #24292e;
  border-radius: 10px;
}
