---
import GitHub from '../icons/GitHub.astro';
import X from '../icons/X.astro';
import Bluesky from '../icons/Bluesky.astro';
import Threads from '../icons/Threads.astro';
import Feather from '../icons/Feather.astro';
import BaseHead from '../components/BaseHead.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

const { title, description, ogImage } = Astro.props;
---

<!doctype html>
<html lang="en" class="bg-[#0a0a0b] text-white">
  <head>
    <BaseHead
      title={title ? title + ' | ' + SITE_TITLE : SITE_TITLE}
      description={description ? description : SITE_DESCRIPTION}
      ogImage={ogImage}
    />
  </head>
  <body class="mx-5 flex h-[100dvh] flex-col items-center justify-center gap-6">
    <img
      src="/avatar.png"
      alt="Author avatar image"
      transition:name="avatar"
      class="h-24 w-24 rounded-full"
    />
    <h1 class="text-3xl font-bold">Max Shen</h1>
    <div>Indie hacker from 🇹🇼</div>
    <div class="flex gap-5">
      <a
        href="/posts"
        class="fill-white transition duration-300 hover:fill-[#FCE2C6]"
        aria-label="Posts"
      >
        <Feather />
      </a>
      <a
        target="_blank"
        href="https://github.com/m4xshen"
        class="fill-white transition duration-300 hover:fill-[#FCE2C6]"
        aria-label="GitHub"
      >
        <GitHub />
      </a>
      <a
        target="_blank"
        href="https://bsky.app/profile/m4xshen.dev"
        class="fill-white transition duration-300 hover:fill-[#FCE2C6]"
        aria-label="Bluesky"
      >
        <Bluesky />
      </a>
      <a
        target="_blank"
        href="https://x.com/m4xshen"
        class="fill-white transition duration-300 hover:fill-[#FCE2C6]"
        aria-label="X"
      >
        <X />
      </a>
      <a
        target="_blank"
        href="https://threads.com/@m4xshen.dev"
        class="fill-white transition duration-300 hover:fill-[#FCE2C6]"
        aria-label="Threads"
      >
        <Threads />
      </a>
    </div>
  </body>
</html>
