---
import { getCollection } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';
import Base from '../layouts/Base.astro';

const posts = (await getCollection('blog')).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<Base>
  <section class="">
    <ul class="flex flex-col gap-12 py-10">
      {
      posts.map((post) => (
        <li>
          <a href={`/posts/${post.slug}/`} class="flex flex-col justify-between gap-2">
            <h2 class="font-extrabold text-3xl font-sans hover:text-[#a5d6ff] transition-colors">{post.data.title}</h2>
            <p class="text-sm text-gray-400 flex-shrink-0">
              <FormattedDate date={post.data.pubDate} />
            </p>
          </a>
        </li>
      ))
      }
    </ul>
  </section>
</Base>
