---
import GitHub from '../icons/GitHub.astro';
import X from '../icons/X.astro';
import Bluesky from '../icons/Bluesky.astro';
import Threads from '../icons/Threads.astro';
import BaseHead from '../components/BaseHead.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

const { title, description, ogImage } = Astro.props;
---

<!doctype html>
<html lang="en" class="bg-[#0a0a0b] text-white">
  <head>
    <BaseHead
      title={title ? title + ' | ' + SITE_TITLE : SITE_TITLE}
      description={description ? description : SITE_DESCRIPTION}
      ogImage={ogImage}
    />
  </head>
  <body class="mx-5 flex flex-col items-center justify-center h-[100dvh] gap-6">
    <img
      src="/avatar.png"
      alt="Author avatar image"
      transition:name="avatar"
      class="h-24 w-24 rounded-full"
    />
    <h1 class="font-bold text-3xl">Max Shen</h1>
    <div>
      <a
        target="_blank"
        href="https://flowmo.io"
        class="underline hover:text-[#DBBFFF] transition-colors duration-300"
      >
        Flowmo</a>
      founder &bull;
      <a
        target="_blank"
        href="https://github.com/m4xshen/hardtime.nvim"
        class="underline hover:text-[#DBBFFF] transition-colors duration-300"
      >
        hardtime.nvim</a>
      maintainer
    </div>
    <div class="flex gap-5">
      <a
        target="_blank"
        href="https://github.com/m4xshen"
        class="fill-white hover:fill-[#DBBFFF] transition duration-300"
        aria-label="GitHub"
      >
        <GitHub />
      </a>
      <a
        target="_blank"
        href="https://bsky.app/profile/m4xshen.dev"
        class="fill-white hover:fill-[#DBBFFF] transition duration-300"
        aria-label="Bluesky"
      >
        <Bluesky />
      </a>
      <a
        target="_blank"
        href="https://x.com/m4xshen"
        class="fill-white hover:fill-[#DBBFFF] transition duration-300"
        aria-label="X"
      >
        <X />
      </a>
      <a
        target="_blank"
        href="https://threads.com/@m4xshen.dev"
        class="fill-white hover:fill-[#DBBFFF] transition duration-300"
        aria-label="Threads"
      >
        <Threads />
      </a>
    </div>
  </body>
</html>
