---
import GitHub from '../icons/GitHub.astro';
import X from '../icons/X.astro';
import Email from '../icons/Email.astro';
const today = new Date();
---

<footer
  class="mt-auto bg-[#0a0a0b] text-gray-400 pt-10 pb-12 flex text-sm justify-center items-center gap-4"
>
  <div class="flex flex-col items-center gap-5">
    &copy; {today.getFullYear()} Max Shen. All rights reserved.
    <div class="flex gap-5">
      <a
        href="https://github.com/m4xshen"
        class="fill-gray-400 hover:fill-gray-100 transition duration-300"
        aria-label="GitHub"
      >
        <GitHub />
      </a>
      <a
        href="https://x.com/m4xshen"
        class="fill-gray-400 hover:fill-gray-100 transition duration-300"
        aria-label="X"
      >
        <X />
      </a>
      <a
        href="mailto:m4xshen@gmail.com"
        class="fill-gray-400 hover:fill-gray-100 transition duration-300"
        aria-label="Email"
      >
        <Email />
      </a>
    </div>
  </div>
</footer>
