---
const today = new Date();
---

<footer
  class="mt-auto bg-[#0a0a0b] text-gray-500 py-12 flex text-sm justify-center items-center gap-4"
>
  <div class="flex flex-col items-center">
    &copy; {today.getFullYear()} Max Shen. All rights reserved.
  </div>
  <div class="flex gap-6">
    <a href="https://github.com/m4xshen">
      <i class="text-3xl text-[#888888] hover:text-[#a5d6ff] transition-colors fa-brands fa-github"></i>
    </a>
  </div>
</footer>
