---
import { SLASH } from '../consts';
---

<header>
	<nav class="flex items-center justify-between h-24 bg-[#0a0a0b] text-white font-mono">
    <div class="flex items-center">
      <a href="/about">
        <img
          src="/avatar.jpg"
          class="h-12 w-12 rounded-full border border-[#374151]"
        />
      </a>
      <svg height="32" width="32" viewBox="0 0 32 32">
        <path d="M22 5L9 28" stroke="#374151"></path>
      </svg>
      <a href="/" class="text-white text-3xl font-semibold">
        {SLASH}
      </a>
    </div>
  </nav>
</header>
