---
import FormattedDate from '../components/FormattedDate.astro';
import Base from '../layouts/Base.astro';

const { title, description, pubDate } = Astro.props;
---

<Base title={title} description={description}>
  <article class="prose prose-invert mx-auto my-20">
    <div>
      {
      title && (
        <h1>{title}</h1>
      )
      }
      {pubDate &&
        <FormattedDate date={pubDate} />
      }
        <hr />
      <slot />
    </div>
  </article>
</Base>
